<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title> Pieces</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-slider thumbLabel tickInterval="auto" min="1" max="150" step="1" value="1" [(ngModel)]="value"
                (change)="sliderChange($event)">
            </mat-slider>

        </mat-card-content>
    </mat-card>
    <br />
    <mat-divider></mat-divider>
    <br />
    <mat-card>
        <mat-card-header>
            <mat-card-title>Estimate</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="estimated">
                <mat-grid-list cols="4" rowHeight="150px">
                    <mat-grid-tile [colspan]="4" [rowspan]="2">
                        <table mat-table [dataSource]="workers">
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> Pos. </th>
                                <td mat-cell *matCellDef="let worker"> {{worker.position}} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef> Qnty. </th>
                                <td mat-cell *matCellDef="let worker"> {{worker.quantity}} </td>
                            </ng-container>

                            <ng-container matColumnDef="hours">
                                <th mat-header-cell *matHeaderCellDef> Hours </th>
                                <td mat-cell *matCellDef="let worker"> {{worker.hours}} </td>
                            </ng-container>

                            <ng-container matColumnDef="regularCost">
                                <th mat-header-cell *matHeaderCellDef> Regular </th>
                                <td mat-cell *matCellDef="let worker"> {{worker.regularCost | currency}} </td>
                            </ng-container>

                            <ng-container matColumnDef="overtimeCost">
                                <th mat-header-cell *matHeaderCellDef> Overtime </th>
                                <td mat-cell *matCellDef="let worker"> {{worker.overtimeCost | currency}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1" s>
                        <h3>Regular: <strong>{{estimate.regularTotal | currency}}</strong> </h3>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <h3>Overtime: <strong>{{estimate.overtimeTotal | currency}}</strong> </h3>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>


        </mat-card-content>
    </mat-card>
</section>